<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.blg">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/espiral_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/espiral_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About" />
        <activity android:name=".AddStripe"
                  android:windowSoftInputMode="adjustPan" /> <!--This property avoids the gui swipe up whem the keyboards pop-ups.-->
        <activity android:name=".CustomStripe" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>